<!-- templates/admin/my_form.html -->
{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    <!-- Add JQuery and JQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Link to the external script -->
    <script src="/static/admin/scripts/scripts.js"></script>
{% endblock %}

{% block form %}
    {{ super() }}
    <div>
        <label for="new_car_license_plate">{{ form.new_car_license_plate.label.text }}</label>
        <input type="text" id="new_car_license_plate" name="new_car_license_plate" value="{{ form.new_car_license_plate.data }}">
    </div>

    <div>
        <label for="{{ form.new_car_type.id }}">{{ form.new_car_type.label.text }}</label>
        {{ form.new_car_type() }}
    </div>

    <div>
        <label for="{{ form.new_car_brand.id }}">{{ form.new_car_brand.label.text }}</label>
        {{ form.new_car_brand() }}
    </div>

    <div>
        <label for="{{ form.new_customer_forname.id }}">{{ form.new_customer_forname.label.text }}</label>
        {{ form.new_customer_forname() }}
    </div>

    <div>
        <label for="{{ form.new_customer_lastname.id }}">{{ form.new_customer_lastname.label.text }}</label>
        {{ form.new_customer_lastname() }}
    </div>

    <div>
        <label for="{{ form.new_customer_phone_number.id }}">{{ form.new_customer_phone_number.label.text }}</label>
        {{ form.new_customer_phone_number() }}
    </div>

    <div>
        <label for="{{ form.service.id }}">{{ form.service.label.text }}</label>
        {{ form.service() }}
    </div>

    <div>
        <label for="{{ form.extras.id }}">{{ form.extras.label.text }}</label>
        {{ form.extras() }}
    </div>

    <div>
        <label for="{{ form.reservation_date.id }}">{{ form.reservation_date.label.text }}</label>
        {{ form.reservation_date() }}
    </div>

    <div>
        <label for="{{ form.parking_spot.id }}">{{ form.parking_spot.label.text }}</label>
        {{ form.parking_spot() }}
    </div>

    <div>
        <label for="{{ form.carwash.id }}">{{ form.carwash.label.text }}</label>
        {{ form.carwash() }}
    </div>

    <div>
        <label for="{{ form.slot.id }}">{{ form.slot.label.text }}</label>
        {{ form.slot() }}
    </div>
{% endblock %}
