{% extends 'admin/model/edit.html' %}

{% block tail %}
  {{ super() }}
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="car">Car</label>
        {{ form.car(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="customer">Customer</label>
        {{ form.customer(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="new_customer_forname">New Customer Forname</label>
        {{ form.new_customer_forname(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="new_customer_lastname">New Customer Lastname</label>
        {{ form.new_customer_lastname(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="new_customer_phone_number">New Customer Phone Number</label>
        {{ form.new_customer_phone_number(class="form-control") }}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="new_car_license_plate">New Car License Plate</label>
        {{ form.new_car_license_plate(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="new_car_brand">New Car Brand</label>
        {{ form.new_car_brand(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="new_car_type">New Car Type</label>
        {{ form.new_car_type(class="form-control") }}
      </div>
    </div>
  </div>
{% endblock %}
