@font-face {
    font-family: 'NewScienceLight';
    src: url('fonts/fonnts.com-New_Science_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NewScienceLightExtended';
    src: url('fonts/fonnts.com-New_Science_Light_Extended.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
form {
    display: contents; /* vagy flex, attól függ, hogy hogyan szeretnéd kezelni a belső elemeket */
  }

  html, body {
    margin: 0;
    padding: 0;
    /* Center content horizontally */
    overflow-x: hidden;
    height: auto;
    
}
body {
    background-color: #161616;
    color: #E0E0E0;
    padding-left: 5%;
    font-family: 'NewScienceLight';
    font-weight: 600;  
}

.locationDataBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.kozmetika{
    display: flex;
    flex-direction: column;
    height: auto;
    flex-shrink: 0;
    overflow-x: auto; /* Oldalirányú görgetés a konténeren belül */
    scroll-snap-type: x mandatory; /* A görgetés "összefogása" */
    scrollbar-width: none;
}

.KozmetikaCim{
    padding: 3%;
}

.kozmetikaContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    gap: 10%;
}

.kozmetikaLeiras{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 50%;
    font-size: clamp(14px, 1vw, 40px);
    align-items: center;
}

.kozmetikaReszletek{
    display: flex;
    flex-direction: column;
    text-wrap:wrap;
    justify-content: center;
}

.kozmetikaReszlet{
    display: flex;
    gap: 20%;
    padding-bottom: 10px;
}


.kozmetikaOuterContainer{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-shrink:0; /* Ne zsugorodjon össze */
    scroll-snap-align: start; /* Az elem illeszkedjen a görgetéshez */
    transition: all 0.3s ease;
    background-color: inherit !important;
}

.kozmetikaContainer{
    display: flex;
    border: 2px solid #E0E0E0;
    padding: 3%;
    border-right: none;
    border-top-left-radius: 3vw; 
    border-bottom-left-radius: 3vw;
}

.MobileScroller {
    display: none;
}

.csomagok{
    display:  flex ;
    flex-direction: row;
    padding: 5%;
    width: 100%;
}

.csomagcontent{
    display:  flex;
    flex-direction: row;
    width: 100%;
}

.csomagnev{
    display: flex;
    height: 6vh;
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
}
.extratype{
    display: flex;
    height: 30px;
    font-size: clamp(13px, 1.2vw, 25px);
    align-items: center;
}

.servicename{
    display: flex;
    height: 30px;
    font-size: clamp(13px, 1.2vw, 25px);
    align-items: center;
    justify-content: center;
}

.extracontent[data-included="True"]::after {
    content: '✔';
    color: #E0E0E0; /* Szín fehér */
  }
  
.extracontent {
    display: flex;
    height: 6vh;
    width: 100%;
    font-family: "NewScienceLight"; /* Egységes betűtípus */
    font-size: inherit; /* Örökölt méret */
    color: #E0E0E0; /* Alapértelmezett szín */
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
}


.csomagtartalom{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.csomagnevek{
    font-family: "NewScienceLight"; /* Egységes betűtípus */
    display: flex;
    width: 20%;
    font-size: clamp(10px, 1vw, 20px);
    padding-left: 3px;
    flex-direction: column;
}

.csomag_meretek{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ServiceOuterContainer{
    display: flex;
    flex-shrink: 0; /* Ne zsugorodjon össze */
    scroll-snap-align: start; /* Az elem illeszkedjen a görgetéshez */
    transition: all 0.3s ease;
    background-color:#161616;
    border: 2px solid #E0E0E0;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    border-right: none;
}

.csomag_ar{
    display: flex;
    font-size: clamp(18px, 1.5vw, 25px);
    align-items: center;
    padding-left: 40%;
    margin-top: 5%;
    padding: 5%;
}
.price{
    font-size: clamp(13px, 1.2vw, 20px);
    display: flex;
    margin-top: 5%;
    align-items: center;
    background-color: #2D2D2D;
    width: 60%;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    max-height: 10px;
}

.priceContainer{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobileScrollerLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #161616;
    width: 50%;
    scroll-snap-align: start; /* Az elem illeszkedjen a görgetéshez */
    transition: all 0.3s ease;
    
}

input[type="radio"]:checked + .mobileScrollerLabel {
    background-color: #D5F048;
    color: #161616;
    border-radius: 10px;
}

.mobileScrollerLabelCsomag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: none;
    flex-shrink:0; /* Ne zsugorodjon össze */
    width: 40%;
    scroll-snap-align: start; /* Az elem illeszkedjen a görgetéshez */
    transition: all 0.3s ease;
    
}

input[type="radio"]:checked + .mobileScrollerLabelCsomag {
    background-color: #D5F048;
    color: #161616;
    border-radius: 20px;
}
.radioButton {
    cursor: pointer;
    accent-color: #161616; /* A radio button színe */
}

.radioButton{
    display: none;
}

.MobileScrollerCsomag{
    display: none;
}

@media (max-width: 768px) {
    .kozmetikaContainer{
        border-top-left-radius: 6vw; 
        border-bottom-left-radius: 6vw;
        border: none;
    }
    .kozmetikaContent{
        flex-direction: column-reverse;
        padding-left: 5%;
        padding-right: 0%;
        justify-content: left;
    }

    .kozmetikaLeiras{
        margin-top: 5%;
        width: 100%;
    }

    .kozmetika{
        margin-left: 3%;
    }

    .kozmetikaReszlet{
        justify-content: left;
    }

    .kozmetika{
        flex-direction: row;
        gap: 5%;
    }

    .KozmetikaCim{
        display: flex;
        padding-left: 8%;
        font-size: 20px;
    }

    .kozmetikaOuterContainer{
        width: 90%;
        flex-shrink: 0; /* Ne zsugorodjon össze */
        scroll-snap-align: start; /* Az elem illeszkedjen a görgetéshez */
        transition: all 0.3s ease;
        background-color:#161616;
        border: 1px solid #E0E0E0;
        border-radius: 3vh;
    }

    .MobileScroller {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        padding: 5%;
        width: auto;

    }
    .MobileScrollerCsomag {
        display: flex;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
        padding: 5%;
        flex-shrink: 0;
        overflow-x: auto; /* Oldalirányú görgetés a konténeren belül */
        scroll-snap-type: x mandatory; /* A görgetés "összefogása" */
        scrollbar-width: none;
    }

    .alcim{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .figyelmeztetes{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        padding-left: 15%;
        padding-right:15% ;
        text-align: center;
    }

    .csomagcontent{
        display:  flex;
        flex-direction: row;
        width: 80%;
        overflow-x: auto; /* Oldalirányú görgetés a konténeren belül */
        scroll-snap-type: x mandatory; /* A görgetés "összefogása" */
        scrollbar-width: none;
    }

    .csomagtartalom{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-shrink: 0;
        scroll-snap-align:start; /* Az elem illeszkedjen a görgetéshez */
        transition: all 0.3s ease;
        background-color: inherit !important;
    }

    .csomagnevek{
        width: 40%;
        flex-shrink: 0;
    }

    .csomag_ar{
        padding-left: 5%;
    }

    .price{
        width: 75%;
    }
}
