@font-face {
    font-family: 'NewScienceLight';
    src: url('fonts/fonnts.com-New_Science_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'NewScienceLightExtended';
    src: url('fonts/fonnts.com-New_Science_Light_Extended.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'NewScienceThin';
    src: url('fonts/fonnts.com-New_Science_Thin_Extended.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'NewScienceMediumExtended';
    src: url('fonts/fonnts.com-New_Science_Medium_Extended.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
input, textarea, select, button {
    font-size: 16px;
  }
  
.alcim{
    font-weight: 500;
      padding: 20px;
      font-family: 'NewScienceMediumExtended', sans-serif;
      font-size: clamp(20px, 2vw, 40px);
      text-align: center;
  }
  
.szlogen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
    font-family: 'NewScienceMediumExtended', sans-serif;
    font-size: clamp(20px, 2vw, 40px);
    font-family: 'NewScienceLight', sans-serif;
    margin-top: 30px;
}
header{
    font-size: 0px;
    margin-top: 0%;
    padding-bottom: 2%;
}

.exit{
    height: 100%;
    width: 50%;
    padding-top: 2%;
    padding-left: 10px;
}

.exitButton{
    height: 60px;
    width: 50%;
    background-color: #2D2D2D;
    border: 1px solid #161616;
    max-width: 120px;
}
.headerDesktop{
    font-family: 'NewScienceLight';
    display: flex;
    flex-direction: row;
    padding-right: 5%;
}

.headerButtonBox {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.headerButtonwrapper{
    display: flex;
    width: 50%
}
.headerButton{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #E0E0E0;
    text-align: center;
    justify-content: center;
    padding-left: 5%;
    align-items: center;
    font-size: clamp(14px, 1vw, 40px);
}

.headerButtonSelected{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #D5F048;
    border: 1px solid #D5F048;
    border-radius: 2vh;
    align-items: center;
    justify-content: center;
    font-size: clamp(14px, 1vw, 40px);
}

.headerMobile {
    display: none;
}

.hamburger-menu {
    width: 60px; /* A gomb szélessége */
    height: 25px; /* A gomb magassága */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: #161616;
    border: 1px solid #161616;
  }
  
  .hamburger-menu span {
    display: block;
    width: 100%;
    height: 3px; /* A csík vastagsága */
    background-color: white; /* A csík színe */
    border-radius: 3px; /* Lekerekített sarkok */
  }

.modal, .LoginOrRegistermodal{
    display: none; /* Alapból rejtett */
    position: fixed;
    z-index: 1000; /* Az összes tartalom fölött jelenjen meg */
    overflow: hidden;
}

.modal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161616; /* Sötét áttetsző háttér */
}

.LoginOrRegistermodal{
    border-radius: 10px;
    top: 30vh;
    left: 25vw;
    width: 50%;
    height: 40%;
    background-color: #2D2D2D; /* Sötét áttetsző háttér */
    justify-content: center;
    align-items: center;
}

.loginWrapper{
    padding: 5px;
}
/* A modális tartalom */
#modal-content {
    padding-top: 10vh;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #161616;

    flex-direction: column;
    color: #E0E0E0;
    font-size: 20px;
    text-align: center;
}

.modal-outerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
}

.modal-label{
    display: flex;
    text-align: left;
    width: 200px;
    padding: 10px;
}

.modal-input{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
}

.modal-mezo{
    display: flex;
    padding: 10px;
    border-radius: 2vh;
    border: none;
    background-color: #2D2D2D !important;
    color: #E0E0E0;
}

/* Bezáró gomb */
#close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    color: #E0E0E0;
}

.modalButtonBox{
    padding-top: 5%;
    padding-bottom: 5%;
}

.modalButton{
    height: 50px;
    background-color: #161616;
    border: 1px solid #161616;
    color: #E0E0E0;
}

footer{
    font-family: 'NewScienceThin';
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footerBox{
    display: flex;
    flex-direction: row;
    border-top: 2px solid #E0E0E0;
    width: 90%;
    padding: 5%;
    justify-content: space-between;

}

.footerTextBox{
    text-align: center;
    width: 100%;
    font-size: clamp(14px, 1vw, 40px);
}

.socialBox{
    display: flex;
    text-align: center;
    width: 90%;
    flex-direction: row;
}

.LoginOrRegisterText{
    text-align: center;
    font-family: 'NewScienceLight';
    font-weight: lighter;
    font-size: clamp(14px, 1vw, 40px);
    width: 70%;
}

.LoginOrRegisterButton{
    margin-top: 20px;
    padding: 5px;
    background-color: #161616;
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
    display: flex;
    border-radius: 2vh;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.LoginOrRegister{
    width: 100%;
    height: 100%;
    background-color: red;

}

.LoginOrRegistercontent{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;

}
.regMenubutton{
    display:  flex;
    background-color: #2D2D2D;
    border: none;
    padding: 20px;
    justify-content: right;
    color: #E0E0E0;
    font-family: "NewScienceLight";
    width: 70%
    

}

.Buziszmbólumgeci{
    display:flex;
    justify-content: left; 
    align-items: center;
    color: #E0E0E0;
    font-family: "NewScienceLight";
    font-size: large;
    width: 20%;
    
}

.LoginOrRegisterWrapper{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: left;
}

.LoginOrRegisterWrapper2{
    display: flex;
    flex-direction: row;

}
@media (max-width: 768px) {
    .headerDesktop{
        display: none;
    }

    .headerMobile {
        display: flex;
        justify-content: space-between; /* Elemek közötti tér */
        align-items: center; /* Függőleges középre igazítás */
        padding: 0 5%; /* Fejléc belső margói */
        padding-right: 0%;
        height: 60px; /* Fejléc magassága */
    }

    .footerBox{
        flex-direction: column;
        justify-content: center;
    }

    .footerTextBox{
        padding-bottom: 5%;
    }

    .LoginOrRegistermodal{
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        top: 30vh;
        left: 15vw;
        width: 70%;
        height: 40%;
    }

    .socialBox{
        justify-content: center;
    }

    .szlogen{
        width: 80%;
    }
}