@font-face {
  font-family: 'NewScienceLight';
  src: url('fonts/fonnts.com-New_Science_Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewScienceLightExtended';
  src: url('fonts/fonnts.com-New_Science_Light_Extended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewScienceMedium';
  src: url('fonts/fonnts.com-New_Science_Medium_Extended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    /* Center content horizontally */
    overflow-x: hidden;
    height: auto;
}

form {
    display: contents; /* vagy flex, attól függ, hogy hogyan szeretnéd kezelni a belső elemeket */
  }

  .headerDesktop {
    position: relative;
    background-image: url("images/Header.png");
    height: 70vh;
    background-size: cover;
    background-position: left center;
}

.headerDesktop::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    opacity: 0.7; /* Change opacity here */
    z-index: -1; /* Ensures the overlay stays behind the content */
}
.headerMobile{
  background-image: url("images/Header.png");
  height: 20vh;
  background-size:cover;
  background-position: left center; 
}

.headerButton{
    color: black;
}

.contentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #161616;
    color: #E0E0E0;
    font-family: 'NewScienceLight', sans-serif;
    font-weight: 600;    
}

.contentBox{
  display: flex;
  flex-direction: column;
}

.locationBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.helyszinkep{
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #161616;
}

.helyszinikon{
    object-fit: contain;
    background-color: #2D2D2D;
}

.keret{
    background-color: #2D2D2D;
    border: 2px solid #161616;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-radius: 2vw; 
    padding-top: 5%;
    padding-bottom: 5%;
}

.helyszinImgs{
    display:flex;
    align-items: center;
    height: 100%;
}

.helyszinkepContainer{
    display: flex;
    height: clamp(40px,10vw,100px);
    width: clamp(60px,15vw,150px);
    background-color: #161616;
}

.helyszinikonContainer{
    display: flex;
    height: 20px;
    width: 20px;
    background-color: #161616;
    justify-content: center;
}

.MosokCim{
    font-family: 'NewScienceLight', sans-serif;
    font-size: clamp(14px, 2vw, 40px);
    color: #E0E0E0;
}

.MosokCim2{
  display: flex;
  justify-content: center;
  font-family: 'NewScienceLight', sans-serif;
  font-size: clamp(15px, 1.5vw,30px);
  color: #E0E0E0 !important;
  text-align: center;
}

.Wrapper {
    padding-top: 5%;
    display: flex;
    justify-content: center; /* Vízszintes középre helyezés */
    align-items: center;    /* Függőleges középre helyezés */      /* Az egész képernyő magassága */
}
.Foglalas {
    display: flex;
    height: 40px;
    width: 35%;
    min-width: 200px;
    max-width: 300px;
}

.FoglalasButton {
    width: 100%; /* Kitölti a szülő teljes szélességét */
    height: 100%; /* Kitölti a szülő teljes magasságát */
    background-color: #D5F048;
    color: #161616;
    border-radius: 5vh;
    border: none; /* Opció: eltünteti a gomb alapértelmezett keretét */
    cursor: pointer; /* Mutatja, hogy kattintható */
    font-size: 16px;
    text-align: center;
}

.galeryBox{
    display: flex;
    gap: 2%;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* A görgetés "összefogása" */
}

.imgContainer{
    width: 90%;
    height: 200px;
    background-color: green;
    flex-shrink: 0; /* Ne zsugorodjon össze */
    scroll-snap-align: start; /* Az elem illeszkedjen a görgetéshez */
    transition: all 0.3s ease;
}
.KapcsolatOuterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.KapcsolatBox{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.KapcsolatContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
}

.CimContainer{
    color: #E0E0E0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
}

.helyszinikonKapcsolat{
    height: auto;
    object-fit: contain;
    background-color: #161616;
}
@media (max-width: 768px) {
    .keret{
        display: flex;
        flex-direction: column;
        width: 45vw;
        height: 45vw;
        aspect-ratio: 1/1;
        position: relative; /* Forces layout recalculation */
    }

    .helyszinImgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0%;
    }

    .helyszinikonContainer{
        height: 7vw;
    }

    .helyszinkepContainer{
        margin-bottom: 10%;
    }

    .MosokCim{
    }

    .KapcsolatBox{
        grid-template-columns: 1fr;
    }

    .locationBox{
      width: 90%;
    }
}


.property-container{
  display: flex;
  flex-direction: column;
    width: 90%;
    padding-left:5% ;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.slick-track * {
  outline: none;
}

.property-wrapper {
  text-align: center;
}


.property-slide {
  margin: 0 -7px;
}

.property-slide:not(.slick-initialized) .property-item:nth-child(n + 4) ~ div {
  display: none;
}

.property-item {
  display: flex;
  vertical-align: middle;
  width: calc(100% / 4);
  padding: 0 7px;
}

.property-item a {
  display: block;
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
}
.property-slide {
  padding: 38px 0 0;
}

.property-slide button.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 70%;
  bottom: 0;
  margin: auto;
  transform: translateY(-40px);
  border: none;
  outline: none;

}

.property-slide button:before {
  font-family: inherit !important;
  font-size: 30px;
}
.property-slide button.slick-prev {
  left: -50px;
}

.property-slide button.slick-next {
  right: -50px;
}

.property-item .property-img:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(153, 126, 67, 0.3);
  opacity: 0;
  outline: 1px solid #ffffff;
  outline-offset: -10px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}

.property-item .property-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}

.property-img {
  position: relative;
}

.property-img img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.property-details {
  opacity: 0;
  transition: all 0.3s ease;
}

.property-details strong {
  font: 500 20px "Roboto", sans-serif;
  color: #2f2f2f;
}

.property-item:hover .property-img:before,
.property-item:hover .property-img:after {
  opacity: 1;
}

.property-item a:hover .property-details {
  opacity: 1;
}

