html, body {
    margin: 0;
    padding: 0;
    /* Center content horizontally */
    overflow-x: hidden;
    height: auto;
    
}
body {
    background-color: #161616;
    color: #E0E0E0;
    padding-left: 5%;
    font-family: 'New Science', sans-serif;  /* Set the font */
    font-weight: 600;     
}

.locationBox{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.helyszinkep{
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #161616;
}

.helyszinikon{
    height: auto;
    object-fit: cover;
    background-color: #2D2D2D;
}

.keret{
    background-color: #2D2D2D;
    border: 2px solid #161616;
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-radius: 2vw; 
    padding-top: 5%;
    padding-bottom: 5%;
}

.helyszinImgs{
    display:;
    align-items: center;
    height: 100%;
}

.helyszinkepContainer{
    display: flex;
    height: 100%;
    background-color: #161616;
}

.helyszinikonContainer{
    display: flex;
    height: 100%;
    background-color: #161616;
}