<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Reservation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Create Reservation</h1>
    <form id="reservationForm">
        <label for="appointmentDate">Select a date:</label>
        <input type="date" id="appointmentDate" name="appointmentDate" required><br><br>

        <div id="appointmentOptions"></div>

        <label for="license_plate">License Plate:</label><br>
        <input type="text" id="license_plate" name="license_plate" required><br><br>
        
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number" required><br><br>
        
        <label for="brand">Brand:</label><br>
        <input type="text" id="brand" name="brand" required><br><br>
        
        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type" required><br><br>
        
        <label for="company_id">Company ID:</label><br>
        <input type="number" id="company_id" name="company_id" required><br><br>
        
        <label for="service_id">Service ID:</label><br>
        <input type="number" id="service_id" name="service_id" required><br><br>
        
        <label for="parking_spot">Parking Spot:</label><br>
        <input type="text" id="parking_spot" name="parking_spot"><br><br>
        
        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
