<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='common.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Carwash_sites.css') }}">
    <title>{{ location.carwash_name }}</title>
</head>
<body>
    <header>
        <div class="headerDesktop">
            <div class="headerButtonBox">
                <div class="logoContainer">
                    <button onclick = "exit()" class="elitlogo"></button>
                </div>
                <div class="headerButtonwrapper">
                    <button onclick="openLoginModal()" class="headerButton">Bejelentkezés</button>
                </div>
                <div class="headerButtonwrapper">
                    <button onclick="toPrices()" class="headerButton">Árlisták</button>
                </div>
                <div class="headerButtonwrapper">
                    <button onclick="toGallery()" class="headerButton">Galéria</button>
                </div>
                <div class="headerButtonwrapper">
                    <button onclick="toContact()" class="headerButton">Kapcsolat</button>
                </div>
                <div class="headerButtonwrapper">
                    <button onclick="toReservation()" class="headerButtonSelected">Online időpontFoglalás</button>
                </div>
            </div>
            </div>
        <div class="headerMobile">
            <div class="logoContainer">
                <button onclick = "exit()" class="elitlogo"></button>
            </div>
            <button onclick="openModal()" class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>
    <div class="locationDataBox">
        <div class="locationLogo">
            <img class="helyszinkep" src="/static/images/{{ location.image_name }}" />
        </div>
        <div class="helyszinikonContainer">
            <img class="helyszinikon" src="/static/images/map.svg">
        </div>
        {{ location.contact}}
    </div>
    <h2 class="alcim">Csomagok</h2>
        <div class="ServiceOuterContainer">
            <div class="csomagok">
                <div class="csomagnevek">
                    <div class="extratype">Külső</div>
                    {% for extra in extra_names_out %}
                    <div class="csomagnev">{{extra}}</div>
                    {% endfor %}
                    <div class="extratype">Belső</div>
                    {% for extra in extra_names_in %}
                    <div class="csomagnev">{{extra}}</div>
                    {% endfor %}
                    <div class="arcim">Csomag Ár</div>
                    <div class="csomag_meretek">
                        <div class="csomag_ar">S</div>
                        <div class="csomag_ar">M</div>
                        <div class="csomag_ar">L</div>
                        <div class="csomag_ar">XL</div>
                        <div class="csomag_ar">XXL</div>
                    </div>
                </div>
                <div class="csomagcontent">
                {% for service in service_data %}
                    <div class="csomagtartalom" id="{{service.name}}">
                    <div class="servicename">{{service.name}}</div>
                    {% for included in service.extras_out %}
                    <div class="extracontent" data-included="{{ included }}"></div>
                        
                    {% endfor %}
                    <div class="extratype"></div>
                    {% for included in service.extras_in %}
                    <div class="extracontent" data-included="{{ included }}"></div>
                    {% endfor %}
                    <div class="priceContainer">
                        <div class="price">{{service.price_small}}</div>
                        <div class="price">{{service.price_medium}}</div>
                        <div class="price">{{service.price_large}}</div>
                        <div class="price">{{service.price_x_large}}</div>
                        <div class="price">{{service.price_xx_large}}</div>
                    </div>
                </div>
                {% endfor %}
        </div>
        </div>
    </div>
    <h2 class="alcim">Autókozmetikai szolgáltatások</h2>
    <div class="figyelmeztetes">Autókozmetikai szolgáltatásainkat kizárólag ingyenes felmérés után végezzük. 
        Keresd kollégáinkat telefonon, vagy személyesen üzletünkben.</div>
        <div id = "MobileScrollerKozmetika"class="MobileScroller"></div>
    <div class="kozmetika">
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Kárpit tisztítás</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        A kárpit tisztítás fontos része autónk karban tartásának. Válaszd a kárpit tisztítást, ha szeretnéd eltávolítani a balatoni nyaralásról maradt foltosodást, a síelés utáni szennyeződést, vagy a több év alatt megült port, szagot!
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Ülés kárpit</div>
                            <div class="kozmetikaÁr">8000 Ft / ülés</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes padlókárpit</div>
                            <div class="kozmetikaÁr">15 000 Ft</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes tetőkárpit</div>
                            <div class="kozmetikaÁr">15 000 Ft</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Csomagtér kárpit</div>
                            <div class="kozmetikaÁr">10 000 Ft</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Polírozás</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        Az autó polírozása során a felületi karcok és mikrosérülések eltávolítása mellett a fényezés visszanyeri eredeti ragyogását. Speciális anyagokkal és gépekkel végezzük, hogy a fényezés sima és egyenletes legyen, így az autó újszerű megjelenést kap. A polírozás növeli a védelem tartósságát és kiemeli az autó színét.
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Fényszóró polírozás (párban)</div>
                            <div class="kozmetikaÁr">16 000 Ft</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Elem polírozás</div>
                            <div class="kozmetikaÁr">30 000 Ft-tól</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Korrekciós polírozás</div>
                            <div class="kozmetikaÁr">100 000 Ft-tól</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Fényesítő polírozás</div>
                            <div class="kozmetikaÁr">70 000 Ft-tól</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Kerámia bevonat</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        A tökéletesen polírozott fényezést 9H keménységű, két rétegű kerámia bevonattal konzerváljuk. Az első réteg garantálja a karcok és kémiai hatások elleni védelmet, a második pedig extrém hidrofób felületet biztosít. A bevonatra 5 év garanciát vállalunk, garantálva a tartós védelem és lenyűgöző optikai hatás tökéletes párosát!
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes karosszéria kerámia bevonat</div>
                            <div class="kozmetikaÁr">190 000 Ft-tól</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes ablak kerámia bevonat</div>
                            <div class="kozmetikaÁr">50 000 Ft-tól</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes felni szett kerámia bevonat</div>
                            <div class="kozmetikaÁr">50 000 Ft-tól</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Graphen bevonat</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        Válaszd a kompromisszumok nélküli minőséget! A forradalmi grafén technológia hatékonyabb karcállóságot és savállóságot kínál, mint a kerámia bevonat. 5 év garanciát vállalunk a felsőbbrendű ellenállóságra és a kiemelkedő ragyogásra!
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes karosszéria graphen bevonat</div>
                            <div class="kozmetikaÁr">200 000 Ft-tól</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Kavicsvédő fóliázás</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        Óvd meg autód fényezését prémium kavicsvédő fóliázással! Az extra erős, láthatatlan fólia hatékonyan védi a karosszériát a kőfelverődésektől, karcolásoktól és egyéb sérülésektől. A fólia öngyógyuló tulajdonsága által autód mindig újszerű állapotban tündökölhet. Válaszd a hosszú távú megoldást, amely garantáltan megőrzi autód értékét!
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Kilincs öböl fóliázás</div>
                            <div class="kozmetikaÁr">18 000 Ft / öböl</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Front kavicsvédő fóliázás</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes kavicsvédő fóliázás</div>
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Belső kavicsvédő fóliázás</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Fólia & Matrica eltávolítás</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        Akár teljes fóliát, akár kisebb matricákat kell eltávolítani, profi eltávolítási szolgáltatásunkkal kíméletesen távolítjuk el a ragasztónyomokat és a makacs maradványokat is, hogy a fényezés sértetlen maradjon. Gyors, precíz és fényezéskímélő megoldás – frissítsd fel autód megjelenését kompromisszumok nélkül!
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes fólia eltávolítás</div>
                            <div class="kozmetikaÁr">120 000 Ft-tól</div>   
                        </div>
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Reklám matrica eltávolítás</div>
                            <div class="kozmetikaÁr">80 000 Ft-tól</div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kozmetikaOuterContainer">
            <div class="KozmetikaCim">Tető impregnálás</div>
            <div class="kozmetikaContainer">
                <div class="kozmetikaContent">
                    <div class="kozmetikaLeiras">
                        Védd meg kabriód tetőjét nanotechnológiás kezeléssel! A Speciális formula tartós víz és folt taszító réteget képez, miközben megtartja a szövet puhaságát és lélegzőképességét!
                    </div>
                    <div class="kozmetikaReszletek">
                        <div class="kozmetikaReszlet">
                            <div class="kozmetikaElem">Teljes tető impregnálás</div>
                            <div class="kozmetikaÁr">50 000 Ft-tól</div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="kozmetikaOuterContainer">
        <div class="KozmetikaCim">Extrák</div>
        <div class="kozmetikaContainer">
        <div class="extraContainer">
            <div class="extratype2">Belső</div>
            {% for extra in extras %}
            {% if extra.user_select %}
                {% if extra.extra_type == "interior" %}
                <div class="kozmetikaReszlet">
                    <div class="kozmetikaElem">{{ extra.service_name }}</div>
                    <div class="kozmetikaÁr">{{ extra.price }} Ft</div>   
                </div>
                {% endif %}
            {% endif %}
            {% endfor %}
            <div class="extratype2">Külső</div>
            {% for extra in extras %}
            {% if extra.user_select %}
                {% if extra.extra_type == "exterior" %}
                <div class="kozmetikaReszlet">
                    <div class="kozmetikaElem">{{ extra.service_name }}</div>
                    <div class="kozmetikaÁr">{{ extra.price }} Ft</div>   
                </div>
                {% endif %}
            {% endif %}
            {% endfor %}
    </div>   
</div> 
</div>  
</div>
<footer> 
    <div class="footerBox">
        <div class="footerTextBox">© 2024 Eliteshine Minden jog fenntartva</div>
        <div class="footerTextBox">Adatvédelmi nyilatkozat<br>ASZF</div>
        <div class="footerTextBox">info@automoso.eu<br>06 30 26 25 774</div>
        <div class = "socialBox">
            <img class="socialIcon"src="/static/images/Facebook.svg">
            <img class="socialIcon"src="/static/images/Instagram.svg">
        </div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='carwash_site.js') }}"></script>
<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='customer_login.js') }}"></script>


<!--Modals -->
<div class = "modal" id="modal">
    <div id="modal-content">
        <span id="close" onclick="closeModal()">&times;</span>
        <div class="modalButtonBox">
            <button onclick="openLoginModal()" class="modalButton">Bejelentkezés</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toPrices()" class="modalButton">Árlisták</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toReservation()" class="modalButton">Online Időpontfoglalás</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toGallery()" class="modalButton">Galéria</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toContact()" class="modalButton">Kapcsolat</button>
        </div>
    </div>
</div>
<div class = "modal" id="login-modal">
    <div id="modal-content" class="modal-contnt">
        <div class="modal-outerContainer">
        <div class="alcim">Bejelentkezés</div>
        <span id="close" onclick="closeLoginModal()">&times;</span>
        <form id='login-form'>
        <div class='modal-input'> 
            <label class = "modal-label"  for="username">Felhasználónév:</label>
            <input 
                type="text" 
                id="username" 
                name="user_name" 
                placeholder="" 
                class="modal-mezo"
                required>
        </div>
        <div class='modal-input'> 
            <label class = "modal-label"  for="password">Jelszó:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="" 
                class="modal-mezo"
                required>
        </div>
        <div>
        <button type="submit" class="LoginOrRegisterButton">Belépés</button>
        </form>
        <div class="message" id="login-message"></div>
        </div>
    </div>
</div>
</div>
<div class = "modal" id="register-modal">
    <div id="modal-content" class="modal-contnt">
        <div class="modal-outerContainer">
        <div class="alcim">Regisztráció</div>
        <span id="close" onclick="closeRegisterModal()">&times;</span>
        <form id='register-form'>
        <div class='modal-input'> 
            <label class = "modal-label"  for="username">Felhasználónév:</label>
            <input 
                type="text" 
                id="username" 
                name="user_name" 
                placeholder="" 
                class="modal-mezo"
                required>
        </div>
        <div class='modal-input'> 
            <label class = "modal-label"  for="password">Jelszó:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder=""
                class="modal-mezo"
                required>
        </div>
        <div>
        <button type="submit" class="LoginOrRegisterButton">Belépés</button>
        </form>
        <div class="message" id="register-message"></div>
        </div>
    </div>
</div>
</div>
</div>
<div class = "LoginOrRegistermodal" id="LoginOrRegister">
    <div class = "LoginOrRegistercontent">
        <div class="LoginOrRegisterText">Az online időpontfoglaláshoz jelentkezz be, vagy regisztrálj.</div>
        <div class="LoginOrRegisterWrapper">
            <div class="LoginOrRegisterWrapper2">
                <button onclick="openLoginModal()"class="regMenubutton">Bejelentkezés</button>
                <div class="Buziszmbólumgeci">&gt;</div>
            </div>
            <div class="LoginOrRegisterWrapper2">
                <button onclick="openRegisterModal()" class="regMenubutton">Regisztráció</button>
                <div class="Buziszmbólumgeci">&gt;</div>
            </div>
        </div>
    </div>
</div>