<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='common.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='landing_page.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <!-- Include Slick JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='customer_login.js') }}"></script>
    <title>Landing page</title>
</head>

<body>
    <header>
        <div class="headerDesktop">
        <div class="exit">
            <button class="exitButton"></button>
        </div>
        <div class="headerButtonBox">
            <div class="headerButtonwrapper">
                <button onclick="openLoginModal()" class="headerButton">Bejelentkezés</button>
            </div>
            <div class="headerButtonwrapper">
                <button onclick="toPrices()" class="headerButton">Árlisták</button>
            </div>
            <div class="headerButtonwrapper">
                <button onclick="toGallery()" class="headerButton">Galéria</button>
            </div>
            <div class="headerButtonwrapper">
                <button onclick="toContact()" class="headerButton">Kapcsolat</button>
            </div>
            <div class="headerButtonwrapper">
                <button onclick="toReservation()" class="headerButtonSelected">Online időpontFoglalás</button>
            </div>
        </div>
        </div>
        <div class="headerMobile">
            <div class="exit">
                <button class="exitButton"></button>
            </div>
            <button onclick="openModal()" class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>
    <div class="contentBox">
        <h2 id = "PricesCim" class="alcim">Árlisták</h2>
        <div class="locationBox" id = "box">
            <form id="locationForm" action="/carwash/" method="POST">
            {% for location in locations %}
            <button 
                class="keret {% if location.id == selected_location_id %}selected{% endif %}" 
                name="location_id" 
                value="{{ location.id }}" 
                type="submit" 
                id="location_btn-{{ location.id }}">
                <div class="helyszinImgs">
                <div class="helyszinikonContainer">
                    <img class="helyszinikon" src="/static/images/map.svg">
                </div>
                <div class="helyszinkepContainer">
                    <img class="helyszinkep" src="/static/images/{{ location.image_name }}" />
                </div>
                </div>
                <div class="MosokCim">{{ location.location }}</div>
            </button>
            {% endfor %}
        </form>
        </div>
    </div>
    <div class="Wrapper">
        <div class="Foglalas">
            <button onclick="create_reservation()" class="FoglalasButton">Online Időpontfoglalás</button>
        </div>
    </div>  
    <h2  id = "GaleryCim" class="alcim">Galéria</h2>
    <div class="property-container">
        <div class="container">
          <div class="property-wrapper">
            <div class="property-slide">
              <div class="property-item">
                  <div class="property-img">
                    <img src="static/images/gallery1.png"  />
                  </div>
              </div>
              <div class="property-item">
                  <div class="property-img">
                    <img src="static/images/gallery2.png"  />
                  </div>
              </div>
              <div class="property-item">
                  <div class="property-img">
                    <img src="static/images/gallery3.png"  />
                  </div>
              </div>
              <div class="property-item">
                  <div class="property-img">
                    <img src="static/images/gallery4.png"  />
                  </div>
              </div>
              <div class="property-item">
                  <div class="property-img">
                    <img src="static/images/gallery6.png"  />
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <h2 id="ContactCim" class="alcim">Kapcsolat</h2>
    <div class = "KapcsolatOuterContainer">
        <div class="KapcsolatBox">
        {% for location in locations %}
        <div class = "KapcsolatContainer">
            <div class="helyszinkepContainer">
                <img class="helyszinkep" src="/static/images/{{ location.image_name }}" />
            </div>
            <div class="CimContainer">
                <div class="helyszinikonContainer">
                <img class="helyszinikonKapcsolat" src="/static/images/map.svg">
                </div>
            <div class="MosokCim2">{{ location.location }}</div>
            </div>
            <div class="CimContainer">
                <div class="helyszinikonContainer">
                <img class="helyszinikonKapcsolat" src="/static/images/map.svg">
                </div>
            <div class="MosokCim2">{{ location.contact }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <footer> 
        <div class="footerBox">
            <div class="footerTextBox">© 2024 Eliteshine Minden jog fenntartva</div>
            <div class="footerTextBox">Adatvédelmi nyilatkozat<br>ASZF</div>
            <div class="footerTextBox">eliteshine@shine.com<br>+36 20 69 69 669</div>
            <div class = "socialBox"> insta</div>
        </div>
    </footer>
</body>

<!--Modals -->
<div class = "modal" id="modal">
    <div id="modal-content">
        <span id="close" onclick="closeModal()">&times;</span>
        <div class="modalButtonBox">
            <button onclick="openLoginModal()" class="modalButton">Bejelentkezés</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toPrices()" class="modalButton">Árlisták</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toReservation()" class="modalButton">Online Időpontfoglalás</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toGallery()" class="modalButton">Galéria</button>
        </div>
        <div class="modalButtonBox">
            <button onclick="toContact()" class="modalButton">Kapcsolat</button>
        </div>
    </div>
</div>
<div class = "modal" id="login-modal">
    <div id="modal-content">
        <h2 class="alcim">Bejelentkezés</h2>
        <span id="close" onclick="closeLoginModal()">&times;</span>
        <form id='login-form'>
        <div class='input-keret'> 
            <label class = "input-label"  for="username">Felhasználónév:</label>
            <input 
                type="text" 
                id="username" 
                name="user_name" 
                placeholder="" 
                class="input-mezo"
                required>
        </div>
        <div class='input-keret'> 
            <label class = "input-label"  for="password">Jelszó:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="" 
                class="input-mezo"
                required>
        </div>
        <button type="submit">Belépés</button>
        </form>
        <div class="message" id="login-message"></div>
        </div>
    </div>
</div>
<div class = "modal" id="register-modal">
    <div id="modal-content">
        <h2 class="alcim">Regisztráció</h2>
        <span id="close" onclick="closeRegisterModal()">&times;</span>
        <form id='register-form'>
        <div class='input-keret'> 
            <label class = "input-label"  for="username">Felhasználónév:</label>
            <input 
                type="text" 
                id="username" 
                name="user_name" 
                placeholder="" 
                class="input-mezo"
                required>
        </div>
        <div class='input-keret'> 
            <label class = "input-label"  for="password">Jelszó:</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="" 
                class="input-mezo"
                required>
        </div>
        <button type="submit">Register</button>
        </form>
        <div class="message" id="register-message"></div>
        </div>
    </div>
</div>
<div class = "modal" id="LoginOrRegister">
    <div class = "LoginOrRegistercontent">
        <div class="LoginOrRegisterText"></div>
        <div class="LoginOrRegisterWrapper"></div>
        <div class="LoginOrRegisterWrapper">
            <button onclick="openLoginModal()"class="LoginOrRegisterButton">Bejelentkezés</div>
        </div>
        <div class="LoginOrRegisterWrapper">
            <button onclick="openRegisterModal()" class="LoginOrRegisterButton">Regisztráció</div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='landing_script.js') }}"></script>