<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Foglalasv2.css') }}">
    <title>Locations</title>
</head>
<body>
    <div class="FoglalasiFelulet">
        <h1 class="focim">Időpontfoglalás</h1>
        <h2 class="alcim">1. Válasszon autómosót</h2>
        <div class="HelyszinekContainer" id="HelyszinekContainer">
            <!-- Template element that is hidden -->
            <div class="box" id = "box">
            {% for location in locations %}
            <button class="keret">
                <img class="helyszin" src="{{ location.image_name or 'https://via.placeholder.com/335x100' }}" />
                <div class="IkonKeret"></div>
                <div class="MosokCim">{{ location.location }}</div>
            </button>
            {% endfor %}
    </div>
    </div>
    <h2 class="alcim">2. Válasszon csomagot</h2>
    <div class="HelyszinekContainer" id="HelyszinekContainer">
        <!-- Template element that is hidden -->
        <div class="box" id = "box">
        {% for service in services %}
        <button class="keret" id="{{ service.id }}">
            <div class="csomag_nev">{{ service.name}}</div>
        </button>
        {% endfor %}
</div>
</body>
</html>
