<div id="popup" class="popup">
    <div class="wrapper">
        <span id="closePopup" class="close">&times;</span>
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup-title">Összegzés</div>
            </div>
            <div class="popup-body">
                <div class="popup-item">
                    <div class="popup-info">
                        <div class="info-text">Hely: {{ hely }}</div>
                        <div class="info-text">Elérhetőségek: {{ elerhetosegek }}</div>
                        <div class="info-text">Rendszám: {{ rendszam }}</div>
                        <div class="info-text">Csomag: {{ csomag }}</div>
                        <div class="info-text">Extra: {{ extra }}</div>
                        <div class="info-text">Időpont: {{ idopont }}</div>
                    </div>
                    <div class="popup-price">
                        <div class="price-text">Végösszeg: {{ vegosszeg }}</div>
                    </div>
                </div>
                <div class="popup-divider"></div>
                <div class="popup-note">
                    <div class="note-text">Kérjük hozza autóját az átadási időpont előtt 2 órával! Az időpontját, csak ezzel a feltétellel tudjuk garantálni.</div>
                    <div class="note-text">Amennyiben az extra szennyezett autóknál nem választja ki a megfelelő Extra csomagot a foglaláskor, akkor a költség kétszeresét számoljuk fel!</div>
                </div>
                <div class="popup-agreement">
                    <div class="checkbox"></div>
                    <div class="agreement-text">
                        <span>Elfogadom az </span><span class="underline">ÁSZF-et</span>,
                        <span class="underline">Adatvédelmi szabályzatot</span> és fenti feltételeket.
                    </div>
                </div>
                <div class="popup-confirm">
                    <div class="confirm-text">Megerősítés</div>
                </div>
            </div>
        </div>
    </div>
</div>
