<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='foglalas.css') }}">
    <title>Foglalás</title>
</head>

<body>
    <header>
        <div class="logo">
            <img style="width: 450px; height: 95px" src="Logo2.png" />
        </div>
        <div class="line"></div>
    </header>
    <div class="FoglalasiFelulet">
        <h1 class="focim">Időpont foglalás</h1>
        <div class="RegisztracioAlcimContainer">
            <div class="RegisztracioAlcimBox"></div>
            <div class="RegisztracioAlcim">Belépés & Regisztráció</div>
        </div>
        <div class="RegisztracioContainer">
            <form id="loginRegisterForm">
                <div class="RegisztracioBox">
                    <label for="Felhasznev">Felhasználónév*</label>
                    <input type="text" id="Felhasznev" placeholder="Felhasználónév" class="FelhaszNev" required>
                    <label for="Jelszo">Jelszó*</label>
                    <input type="password" id="Jelszo" placeholder="Jelszó" class="Jelszo" required>
                    <button type="submit" class="Belepes">Belépés</button>
                    <button type="submit" class="Regisztracio">Regisztráció</button>
                    <input type="checkbox" class="AdatvedelemPipa">
                    <div class="Adatvedelem">*Elfogadom az ÁSZF-et és az Adatvédelmi szabályzatot</div>
                </div>
            </form>
        </div>
        <h2 class="alcim1">Automosóink</h2>
        <div class="HelyszinekContainer" id="HelyszinekContainer">
            <!-- Template element that is hidden -->
            <template id="helyszinTemplate">
                    <div class="box">
                        <button class="keret">
                            <img class="helyszin" src="https://via.placeholder.com/335x100" />
                            <div class="cim">1097 Budapest,<br />Könyves Kálmán krt. 11.</div>
                            <div class="IkonKeret">
                                <div class="ikon"></div>
                            </div>
                        </button>
                    </div>
            </template>
        </div>
        <h2 class="alcim">Csomagjaink</h2>
        <div class="CsomagokContainer" id="CsomagokContainer"></div>

        <template id="CsomagokTemplate">
                <button class="CsomagokBox" id="CsomagokBox">
                    <!-- Lustaságom okán a css-ben így állítottam át fehérre (lsd id= leiras) -->
                    <div class="csomag_nev" id="leiras">blabla nev</div>
                    <div class="leiras" id="leiras">Leírás</div>
                </button>
        </template>
        <h2 class="alcim">Extrák</h2>
        <div class="ExtrakContainers">
            <div class="ExtrakContainer" >
                <div class="ExtrakKeret">
                    <div class="ExtrakAlcim">
                        <div class="KulsoExtrak">Külső Extrák</div>
                    </div>
                    <div class="KulsoExtrakItems"id="KulsoExtrakContainer"></div> <!-- Add this div to hold the items -->
                </div>
            </div>
            
            <div class="ExtrakContainer">
                <div class="ExtrakKeret">
                    <div class="ExtrakAlcim">
                        <div class="KulsoExtrak">Belső Extrák</div>
                    </div>
                    <div class="BelsoExtrakItems"id="BelsoExtrakContainer"></div> <!-- Add this div to hold the items -->
                </div>
            </div>
            
            <template id="KulsoExtrakTemplate">
                <label class="KulsoGomb">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label">Bogároldás</span>
                </label>
            </template>
            
            <template id="BelsoExtrakTemplate">
                <label class="KulsoGomb">
                    <input type="checkbox" class="checkbox">
                    <span class="checkbox-label">Bogároldás</span>
                </label>
            </template>
            
    </div>
        <div class="FigyelmeztetesKeret">
            <div class="Figyelmeztetes">
                <p>*Az extra szennyezett autóknál, ha nem választja ki a megfelelő Extra csomagot a foglaláskor, akkor a
                    költség kétszeresét számoljuk fel!</p>
            </div>
        </div>
        <div style="width: 1009px; height: 103px; left: 0px; top: 0px; position: absolute">
            <div class="AlcimContainer"></div>
            <div class="AlcimBox"></div>
            <div class="AlcimSzoveg">
                Válassz szabad időpontot</div>
        </div>
        <form action="">
            <div class="IdopontContainer">
                <div class="IdopontBox">
                    <div class="group">
                        <input type="text" id="calendar-tomorrow">
                        <span class="bar"></span>
                    </div>
                    <div class="IdopontLine">
                    </div>
                    <div class="GombBox">
                        <label class="IdopontGomb1">
                            <input type="checkbox" class="checkbox">
                            <span class="checkbox-label">10 órás átadás</span>
                        </label>                        
                    </div>
                </div>
            </div>
        </form>
        <div class="IdopontFigyelmeztetes">
            <div class="Figyelmeztetes">
                <p>*Az extra szennyezett autóknál, ha nem választja ki a megfelelő Extra csomagot a foglaláskor, akkor a
                    költség kétszeresét számoljuk fel!</p>
            </div>
        </div>
        <div class="AdatokContainer">
            <div class="AdatokCimContainer">
                <div class="AdatokCimBox"></div>
                <div class="AdatokCim">Add meg az adataidat</div>
            </div>
                <form id = 'szamlazasForm'>
                    <div class="SzamlazasiAdatokContainer">
                        <div class="SzamlazasiAdatokBox">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Email" class="Email" name="email">
                            
                            <label for="cegnev">Cégnév</label>
                            <input placeholder="Cégnév" class="Cegnev" name="cegnev">
                            
                            <label for="keresztnev">Keresztnév</label>
                            <input placeholder="Keresztnév" class="KeresztNev" name="keresztnev">
                            
                            <label for="cim">Cím</label>
                            <input placeholder="Cím" class="Cim" name="cim">
                            
                            <div class="Fizetes">
                                <label for="fizetesi_mod" class="dropdown-label">Fizetési mód</label>
                                <select id="fizetesi_mod" class="dropdown" name="fizetesi_mod">
                                    <option value="keszpenz">Készpénz</option>
                                    <option value="bankkartya">Bankkártya</option>
                                </select>
                            </div>
                            
                            <label for="adoszam">Adószám</label>
                            <input placeholder="Adószám" class="Adoszam" name="adoszam">
                            
                            <label for="vezeteknev">Vezetéknév</label>
                            <input placeholder="Vezetéknév" class="VezetekNev" name="vezeteknev">
                            
                            <div class="SzamlazasiAlcimContainer">
                                <div class="SzamlazasiAlcimBox"></div>
                                <div class="SzamlazasiAlcim">Számlázási adatok</div>
                            </div>
                            <div class="SzamlaContainer">
                                <label for="ker_szamlat">Kér számlát?</label>
                                <input type="checkbox" id="ker_szamlat" name="ker_szamlat">
                            </div>
                            
                        </div>
                    </div>
                </form>
                <form id = "foglalasForm">
                <div class="AutoAdatokContainer">
                    <div class="AutoAdatokBox"></div>
                    <label for="auto_meret">Autó méret</label>
                    <input placeholder="Autó méret" class="AutoMeret" name="auto_meret">
                    
                    <label for="parkolo">Parkoló</label>
                    <input placeholder="Parkoló" class="Parkolo" name="parkolo">
                    
                    <div class="Tipus">
                        <label for="auto_tipus" class="dropdown-label">Autó Típus</label>
                        <select id="auto_tipus" class="dropdown" name="auto_tipus">
                            <option value="kis_auto">Kis autó</option>
                            <option value="nagy_auto">Nagy autó</option>
                        </select>
                    </div>
                    
                    <label for="marka">Márka</label>
                    <input placeholder="Márka" class="Marka" name="marka">
                    
                    <div class="AutoAdatokAlcimContainer">
                        <div class="AutoAdatokAlcimBox"></div>
                        <div class="AutoAdatokAlcim">Autó adatok</div>
                    </div>
                </div>
            
                <div class="SzemelyesAdatokContainer">
                    <div class="SzemelyesAdatokBox"></div>
                    <div class="SzemelyesAdatokAlcimContainer">
                        <div class="SzemelyesAdatokAlcimBox"></div>
                        <div class="SzemelyesAdatokAlcim">Személyes adatok</div>
                    </div>
                    <label for="cegnev2">Cégnév</label>
                    <input placeholder="Cégnév" class="Cegnev2" name="cegnev2">
                    
                    <label for="telefon">Telefonszám</label>
                    <input type="number" placeholder="Telefonszám" class="Telefon" name="telefon">
                    
                    <label for="keresztnev2">Keresztnév</label>
                    <input placeholder="Keresztnév" class="KeresztNev2" name="keresztnev2">
                    
                    <label for="vezeteknev2">Vezetéknév</label>
                    <input placeholder="Vezetéknév" class="VezetekNev2" name="vezeteknev2">
                </div>
                <div class="RendszamContainer"></div>
                <div class="RendszamSzoveg">Rendszám:</div>
                <input placeholder="Rendszám" class="RendszamBemenet" name= "rendszam">Rendszám</input>
                    

                <div class="MegjegyzesContainer">
                    <div class="MegjegyzesBox">
                        <textarea id="megjegyzes" class="MegjegyzesBemenet" name="megjegyzes" placeholder="Írja be a megjegyzését..."></textarea>
                        <div class="MegjegyzesAlcimContainer">
                            <div class="MegjegyzesAlcimBox">
                                <div class="MegjegyzesAlcimSzoveg">Megjegyzés</div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="FoglalasContainer">
        <button class="Foglalas" id = "FoglalasButton">Foglalás</button>
    </div>

  
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!-- Scriptek -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Localization -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <!-- Külön JavaScript fájl -->
    <script>
        // Inicializálja a Flatpickr-t a megadott input mezőkhöz
        flatpickr('#calendar-tomorrow', {
            minDate: new Date().fp_incr(1),
            inline: true // állandó naptár
        });

        flatpickr('#calendar-selectrange', {
            minDate: new Date().fp_incr(1),
            maxDate: new Date().fp_incr(7)
        });

        flatpickr('#calendar-range', {
            mode: "range"
        });

        // Japanese locale példával
        flatpickr('#calendar-ja', {
            locale: "ja",
            dateFormat: "Y/m/d"
        });
    </script>
</body>

</html>