<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='Moso.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.typekit.net/uzv0akr.css">
    <title>City Gate autó mosó</title>
</head>

<body>
    <div class="header">
        <div class="inner-container-1"></div>
        <div class="inner-container-2">
            <img class="image" src="{{ url_for('static', filename='images/Logo2.png') }}">
        </div>
        <div class="inner-container-3">
            <button type="button" class="login-toggle">
                <i class="fas fa-user"></i>
                <p>Belépés</p>
            </button>
        </div>
    </div>
    <!--modal-->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="Reg-container">
                <h1>Belépés és Regisztráció</h1>

                <!-- Login Form -->
                <div>
                    <h2>Belépés</h2>
                    <form id="login-form">
                        <div class="form-group">
                            <label for="login-username">Felhasználónév:</label>
                            <input type="text" id="login-username" name="user_name" required>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Jelszó:</label>
                            <input type="password" id="login-password" name="password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit">Belépés</button>
                        </div>
                        <div class="message" id="login-message"></div>
                    </form>
                </div>
                <!-- Register Form -->
                <div>
                    <h2>Regisztráció</h2>
                    <form id="register-form">
                        <div class="form-group">
                            <label for="register-username">Felhasználónév:</label>
                            <input type="text" id="register-username" name="user_name" required>
                        </div>
                        <div class="form-group">
                            <label for="register-password">Jelszó:</label>
                            <input type="password" id="register-password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="register-role">Role:</label>
                            <input type="text" id="register-role" name="role" placeholder="user or admin" required>
                        </div>
                        <div class="form-group">
                            <button type="submit">Regisztráció</button>
                        </div>
                        <div class="message" id="register-message"></div>
                    </form>
                </div>

                <!-- Logout Form -->
                <div>
                    <h2>Kilépés</h2>
                    <form id="logout-form">
                        <div class="form-group">
                            <button type="submit">Kilépés</button>
                        </div>
                        <div class="message" id="logout-message"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="slide-img">
            <img src="{{ url_for('static', filename='images/City-gate.png') }}">
            <p class="slide-text">+36 20 69 69 669</p>
        </div>
        <div class="Location">
            <div class="map-text">
                <img src="{{ url_for('static', filename='images/map.svg') }}" alt="" class="ikon">
                <p>1117 Budapest<br> Budafoki út 91-93 </p>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.84707079089!2d19.09488767604931!3d47.47340949716596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dcdf1da43f93%3A0x708147312591e327!2sN%C3%A9pliget%20Center%20Business%20Center!5e0!3m2!1shu!2shu!4v1724865443246!5m2!1shu!2shu"
                    width="500rem" height="200rem" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="Foglalas">
            <a href="Foglalas.html">
                <button class="FoglalasGomb"id = 'bookingButton'>Online időpont foglalás
                    <div class="tooltip">Lépj be, vagy regisztrálj az online időpont foglaláshoz az oldal tetején.</div>
                </button>
            </a>
        </div>
        <div class="Video-container">
            <h1>Száraz mosós technológia</h1>
            <div class="Video-and-text">
                <div class="Video-box">
                    <div class="video">
                        <video width="640" height="360" controls>
                            <source src="{{ url_for('static', filename='media/Gen-3.mp4') }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <hr class="video-hr">
                <div class="text-box">
                    <div class="video-text">
                        <p>A kézi autómosás egy alapos és kíméletes módja
                            az autó tisztán tartásának,
                            amely különös figyelmet fordít a részletekre.
                            A folyamat során a járművet szakszerűen tisztítják.</p>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/Arlista.png')}}" style="width: 100%; height: 100%; margin-top: 5rem;" alt="">
        <div class="second-all-Service">
            <h1>Autó kozmetikai szolgáltatások</h1>
            <p class="info">Autókozmetikai szolgáltatásainkat csak felmérés után vállaljuk. (A felmérésnek nincs plusz
                költsége.)<br>Keresd kollégáinkat telefonon, vagy személyesen üzletünkben.</p>
            <div class="services">
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Polírozás</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Fényesítő polírozás: 70000 -tól</p>
                                <p>Korrekciós polírozás: 100000 -tól</p>
                                <p>Fényszoro polírozás(párban): 16000</p>
                                <p>Elem polírozás: 30000 tól</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">Az autó polírozása során a felületi karcok és mikrosérülések eltávolítása mellett a fényezés visszanyeri eredeti ragyogását. Speciális anyagokkal és gépekkel végezzük, hogy a fényezés sima és egyenletes legyen, így az autó újszerű megjelenést kap. A polírozás növeli a védelem tartósságát és kiemeli az autó színét.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Kavicsvédő Fóliázás</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Kilincs öböl fóliázás: 18000/öböl</p>
                                <p>Front kavics fóliázás: Felmérés alapján</p>
                                <p>Teljes kavics fóliázás: Felmérés alapján</p>
                                <p>Belső kavics fóliázás: Felmérés alapján</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">A kavicsvédő fóliázás egy átlátszó, tartós fólia alkalmazása, amely
                                megvédi az autó fényezését a kavicsfelverődésektől, karcolásoktól és kisebb sérülésektől. Az
                                anyag rugalmas és ellenálló, így a jármű kritikus területeit hosszú távon óvja anélkül, hogy
                                befolyásolná annak megjelenését. Ideális megoldás azoknak, akik megőriznék autójuk esztétikai
                                értékét és hosszabb élettartamát.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Kerámia Bevonat</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Teljes ablak: 50000 -tól</p>
                            <p>Teljes karosszéria: 190000 -tól</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">A kerámia bevonat egy innovatív védelmi réteg, amely hosszú távú, kemény és vízlepergető felületet biztosít az autó fényezésén. Ellenáll az UV-sugárzásnak, szennyeződéseknek és kisebb karcolásoknak, így az autó fényes és védett marad a mindennapi igénybevétel mellett. A bevonat hosszan tartó ragyogást és könnyebb tisztíthatóságot kínál, megőrizve az autó eredeti szépségét.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Graphen Bevonat</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Teljes karosszéria graphen bevonat: 170000 -tól</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">A grafén bevonat egy modern, csúcstechnológiás védelem, amely extrém tartósságot és kiemelkedő hő-, víz- és vegyszerállóságot nyújt az autó felületének. A grafén molekuláris szerkezete miatt erősebb és rugalmasabb, mint a hagyományos kerámia bevonatok, így hosszabb élettartamot és mélyebb fényt biztosít. Emellett kiváló vízlepergető tulajdonsággal rendelkezik, megkönnyítve az autó tisztán tartását és védve a fényezést a környezeti hatásokkal szemben.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Fólia & Matrica Eltávolítás</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Teljes fólia eltávolítás: 120000 -tól</p>
                            <p>Reklám matrica eltávolítás: 80000 -tól</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">A fólia és matrica eltávolítása során kíméletesen távolítjuk el az autóra felvitt rétegeket anélkül, hogy sérülést okoznánk a fényezésen. Speciális hőkezelési és oldószeres technikákat alkalmazunk, hogy a ragasztómaradványokat is teljesen eltüntessük, megőrizve az autó eredeti megjelenését. A megfelelő szakértelemmel végzett eltávolítás biztosítja, hogy a fényezés ép és sérülésmentes maradjon a folyamat során.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Tető impregnálás</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Tető impregnálás: 50000</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">A tető impregnálás egy speciális kezelés, amelyet elsősorban kabrió autók vászontetején alkalmaznak, hogy megvédjék azt a víz, UV-sugárzás és szennyeződések ellen. Az impregnáló anyag mélyen behatol az anyag szerkezetébe, ezáltal vízlepergetővé teszi a tetőt, miközben megőrzi annak légáteresztő képességét. Az impregnálás hosszabb élettartamot és jobb ellenállóságot biztosít a környezeti hatásokkal szemben, megóvva a tető esztétikai és funkcionális tulajdonságait.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Kárpit Tisztítás</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Ülés kárpit: 8000/ülés</p>
                            <p>Teljes padlókárpit: 15000</p>
                            <p>Teljes tetőkárpit: 15000</p>
                            <p>Csomagtér kárpit: 10000</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">Kárpit Tisztítást csak felmérés után vállalunk. Az autót minimum 24 óráig
                                nálunk kell maradnia a szárítás idejéig. A felmérés egyeztetéséért keresd kollegánkat telefonon,
                                vagy üzletünkben.</p>
                        </div>
                    </div>
                </div>
                <div class="cosmetic-service-teszt">
                    <div class="titles-teszt">
                        <h2>Bőr Tisztítás & Ápolás</h2>
                    </div>
                    <div class="cosmetic-service-container">
                        <div class="cosmetic-services-list-container">
                            <div class="cosmetic-services-list-teszt">
                                <p>Bőr Tisztítás & Ápolás: 8000/ülés</p>
                            </div>
                        </div>
                        <hr style="margin: 0; height: auto;">
                        <div class="description-teszt">
                            <p class="cosmetic-text1-teszt">A bőr tisztítás és ápolás során speciális tisztítószerekkel távolítjuk el a felhalmozódott szennyeződéseket, miközben megóvjuk a bőr felületét a károsodástól. Az ápolás során bőrkondicionáló anyagokat használunk, amelyek mélyen táplálják a bőrt, megőrizve annak rugalmasságát és fényét, valamint védelmet nyújtanak a repedezés és fakulás ellen. Rendszeres tisztítással és ápolással a bőr hosszabb ideig megőrzi természetes szépségét és tartósságát.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="third-all-Service">
            <h1>Extrák</h1>
            <div class="services">
                <div class="service">
                    <div class="titles">
                        <h2>Külső Extrák</h2>
                        <div class="extra-services-list">
                            <p>Bogároldás: 1000 Ft</p>
                            <p>Gumiápolás: 1000 Ft</p>
                            <p>Viaszos kezelés: 1000 Ft</p>
                            <p>Gyanta oldás: 1000 Ft</p>
                            <p>Extra szennyezett: 1000 Ft</p>
                        </div>
                    </div>
                </div>
                <hr class="Extra-hr">
                <div class="service">
                    <div class="titles">
                        <h2>Belső Extrák</h2>
                        <div class="extra-services-list">
                            <p>Műanyag mélytisztítás: 1000 Ft</p>
                            <p>Műanyag ápolás: 1000 Ft</p>
                            <p>Extra porszívózás: 1000 Ft</p>
                            <p>Kutyaszőr tisztítás: 1000 Ft</p>
                            <p>Bőr tisztítás: 1000 Ft</p>
                            <p>Bőr ápolás: 1000 Ft</p>
                            <p>Autó parfüm: 1000 Ft</p>
                            <p>Extra szennyezett: 1000 Ft</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-logo">
                <div class="logo">
                <img src="{{ url_for('static', filename='images/City-gate.png') }}" alt="" style="width: 8rem;">
                <div class="logo-text">+36 20 69 69 669</div>
            </div>
            <div class="jogok">
                <div class="jogok-box">© 2024 Eliteshine
                    Minden jog fenntartva</div>
                <div class="jogok-box">Adatvédelmi nyilatkozat
                    Általános szerződési feltételek</div>
                <div class="jogok-box">eliteshine@shine.com<br>
                    +36 20 69 69 669</div>
                <div class="jogok-box"> 
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="powered">Powered by GG_Solutions & MindMakers</div>
        </footer>
    </div>

    <script>
        /*log in*/
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('login-modal');
            var btn = document.querySelector('.login-toggle');
            var span = document.querySelector('.close-button');

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
    <script>
        document.getElementById('bookingButton').addEventListener('click', function() {
            window.location.href = '/reservation';
        });
    </script>

</body>

</html>